h1 {
    font-family: "Bebas Neue", "Oswald";
    text-decoration: underline;
    background-color: LightSteelBlue;
    padding-left: 5px;
    border-radius: 5px;
    border-left: 5px solid #1a1a1a;
    padding-left: 0.5rem;
}

h2 {
    font-family: "Bebas Neue", "Oswald";
    background-color: LightSteelBlue;
    padding-left: 5px;
    border-radius: 5px;
    border-left: 5px solid #404040;
    padding-left: 0.5rem;
}

h3 {
    font-family: Oswald;
    background-color: lightgrey;
    padding-left: 5px;
    padding-down: 5px;
    border-radius: 5px;
    border-left: 5px solid Gainsboro;
    padding-left: 0.5rem;
}

h2:hover{
    text-decoration: underline;
}

h3:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}


p {
    background-color: Cornsilk;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

div {
    margin-left: 10px;
}

p:hover {
    background-color: #fffae6;
}

i:hover {
    text-decoration: underline;
}

a:link {
  color: LightCoral;
  text-decoration: none;
}

a:visited {
  color: LightCoral;
  text-decoration: none;
}

a:hover {
  color: LightCoral;
  text-decoration: underline;
  text-decoration-color: IndianRed;
}

a:active {
  color: LightCoral;
  text-decoration: underline;
  text-decoration-color: IndianRed;
}

a.silent {
  color: black;
}

a[href^='http']::after {
    content: "\01F865";
}